/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* TOP HEADER */
    .top-header h2 {
        font-size: 10px;
        padding: 0 0;
    }
    /* HEADER */
    header {
        padding: 5px 0;
    }
    .logo h1 {
        font-size: 16px;
    }
    .cart-menu {
        display: none;
    }
    .menu ul li a {
        font-size: 10px;
        float: right;
        padding: 3px 10px !important;
        margin-top: -10px;
    }
    .custom-navbar-toggler {
        font-size: 0.75rem;
        margin-top: -10px;
    }
    .custom-navbar-toggler:focus {
        box-shadow: none;
    }



    /* BANNER */
    .banner {
        padding: 20px 0;
    }
    .banner-left h1 {
        font-size: 30px;
        text-align: center;
    }
    .banner-left p {
        margin-right: 0;
        text-align: center;
    }



    /* ABOUT */
    .about {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .about-right h1 {
        text-align: center;
    }
    .about-right p {
        margin-right: 0;
        padding: 8px 0;
        text-align: center;
    }



    /* RECIPIRS */
    .recipies {
        padding: 30px 0;
    }
    .recipies-top p {
        margin-top: 0;
        line-height: 24px;
    }
    .recipies-bottom {
        padding: 10px 10px;
    }
    .recipies-bottom h2 {
        font-size: 16px;
        padding: 10px 0;
    }
    .recipies-bottom p {
        font-size: 13px;
    }



    /* SOCIAL FOLLOW */
    .social-follow {
        padding-bottom: 0;
    }
    .social-bg {
        padding: 27px 20px;
    }
    .social-single h2 {
        font-size: 16px;
    }
    .social-single p {
        font-size: 9px;
        line-height: 12px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* HEADER */
    header {
        padding: 5px 0;
    }
    .logo h1 {
        font-size: 16px;
    }
    .cart-menu {
        display: none;
    }
    .menu ul li a {
        float: right;
        padding: 7px 10px !important;
        margin-top: 0;
    }
    .custom-navbar-toggler:focus {
        box-shadow: none;
    }




    
    /* BANNER */
    .banner {
        padding: 26px 0;
    }
    .banner-left h1 {
        font-size: 30px;
    }
    .banner-left p {
        margin-right: 0;
    }



    /* ABOUT */
    .about {
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .about-right p {
        margin-right: 0;
        padding: 10px 0;
    }



    /* RECIPIRS */
    .recipies {
        padding: 40px 0;
    }
    .recipies-top p {
        margin-top: 0;
    }
    .recipies-bottom {
        padding: 10px 10px;
    }
    .recipies-bottom h2 {
        font-size: 20px;
        padding: 10px 0;
    }
    .recipies-bottom p {
        font-size: 14px;
    }



    /* SOCIAL FOLLOW */
    .social-follow {
        padding-bottom: 0;
    }
    .social-bg {
        padding: 20px 16px;
    }
    .social-single h2 {
        font-size: 30px;
    }
    .social-single p {
        font-size: 9px;
    }



    /* FOOTER */

    
    
    footer {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .footer-bottom p {
        margin-top: 30px;
        text-align: center;
    }
    .footer-bottom ul li a img {
        width: 25px;
    }
    
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* HEADER */
    header {
        padding: 5px 0;
    }
    .logo h1 {
        font-size: 20px;
    }
    .cart-menu {
        display: none;
    }
    .menu ul li a {
        float: right;
        padding: 10px 15px !important;
        margin-top: 0;
    }
    .custom-navbar-toggler:focus {
        box-shadow: none;
    }



    /* BANNER */
    .banner {
        padding: 30px 0;
    }
    .banner-left h1 {
        font-size: 34px;
    }
    .banner-left p {
        margin-right: 0;
    }



    /* ABOUT */
    .about {
        padding-bottom: 25px;
    }
    .about-right p {
        margin-right: 0;
        padding: 10px 0;
    }



    /* RECIPIRS */
    .recipies {
        padding: 60px 0;
    }
    .recipies-top p {
        margin-top: 0;
    }
    .recipies-bottom {
        padding: 10px 10px;
    }
    .recipies-bottom h2 {
        font-size: 20px;
        padding: 10px 0;
    }
    .recipies-bottom p {
        font-size: 15px;
    }



    /* SOCIAL FOLLOW */
    .social-follow {
        padding-bottom: 40px;
    }
    .social-single p {
        font-size: 13px;
    }



    /* FOOTER */
    .footer-bottom p {
        font-size: 11px;
    }
    .footer-bottom ul li a img {
        width: 25px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 15px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* HEADER */
    .logo h1 {
        font-size: 24px;
    }
    .menu ul li a {
        font-size: 18px;
        padding: 0px 10px !important;
    }
    .cart-menu ul li a img {
        width: 30%;
        margin-top: -12px;
    }



    /* ABOUT */
    .about-right p {
        margin-right: 0;
    }



    /* RECIPIRS */
    .recipies {
        padding: 80px 0;
    }



    /* SOCIAL FOLLOW */
    .social-follow {
        padding-bottom: 60px;
    }
    .social-single p {
        font-size: 18px;
    }



    /* FOOTER */
    .footer-bottom p {
        font-size: 11px;
    }
    .footer-bottom ul li a img {
        width: 25px;
    }
}

/* large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
   
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
   
}