/* COMMON CSS */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 1.5rem;
}


/* HEADER */
header{
    background-color: #F0FFF0;
}
.custom-navber{}
.logo{}
.logo img{
    width: 200px;
}
.logo img a{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li:last-child a{}
.menu ul li a{
    color: #000 !important;
    margin-right: 20px;
    text-transform: capitalize;
}
.menu ul li a:hover{
    color: #21B573 !important;
}
.menu ul li button{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 8px 24px;
    border-radius: 50px;
}

/* HEADER BANNER */
.banner-header{
    padding: 60px 0;
}
.banner-left{}
.banner-left h6{
}
.banner-left h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    margin-right: 220px;
}
.banner-left h1 span{
    color: #21B573;
}
.banner-left p{
    color: #6C6B6B;
    line-height: 36px;
    margin-right: 228px;
}
.banner-left button{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 8px 24px;
    border-radius: 50px;
}
.banner-right{}
.banner-right img{}


/* SERVICE */
.service{
    padding: 60px 0;
}
.service-single{
    padding: 35px 30px;
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 10px;
}
.service-single img{}
.service-single h4{
    color: #413960;
}
.service-single p{}
.second-service{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}


/* COURSES */
.course{
    padding: 60px 0;
}
.course h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #413960;
    margin-bottom: 30px;
}
/* Single Course */
.single-course{
    margin-right: 30px;
    padding: 28px 28px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.single-course img{}
.single-course h4{
    color: #413960;
}
.single-course p{
    color: #585859;
}
.single-course button{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 8px 30px;
    border-radius: 50px;
}
.course-link{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.course-link li{}
.course-link li i{
    color: #585859;
}
.course-link li i span{
    font-weight: 500;
    margin-left: 10px;
}
.third-course{}



/* TESTIMONIAL */
.testemonial{
    padding-bottom: 60px;
}
.testemonial-img{
    margin-left: 90px;
}
.testemonial-img img{}

.testemonial-content{}
.testemonial-content p{
    margin-top: 10px;
}



/* FOOTER */
footer{
    background-color: #282531;
    padding: 60px 0;
}
.footer-left{}
.footer-left p{
    color: #fff;
}

.footer-link{}
.footer-link h5{
    color: #fff;
}
.footer-link ul{}
.footer-link ul li{}
.footer-link ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.footer-bottom{
    margin-top: 50px;
}
.footer-bottom p{}

