/* COMMON CSS */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #828282;
    line-height: 1.5rem;
}


/* HEADER */
header{
    padding: 20px 0;
}
.top-header{
    background-color: #FC8B46;
}
.top-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 6px 0;
    margin-top: 9px;
}

.custom-navber{}

/* Logo */
.logo{}
.logo h1{
    font-size: 30px;
    font-weight: 700;
    color: #fba24f;
}
.logo h1 span{
    color: #575757;
}


/* Collaps Right Button */
.custom-navbar-toggler{}

/* Menu */
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
    font-size: 20px;
    font-weight: 500;
    color: #333 !important;
    padding: 10px 24px !important;
    margin-top: -10px;
}
.menu ul li a:hover{
    background-image: linear-gradient(#FBA24F, #fc7f42);
    border-radius: 30px;
}


/* Cart Menu */
.cart-menu{}
.cart-menu ul{}
.cart-menu ul li{}
.cart-menu ul li a{}
.cart-menu ul li a img{
    width: 50%;
}



/* BANNER */
.banner{
    padding: 40px 0;
    background-image: url(../images/female/Group\ 88.png);
    background-repeat: no-repeat;
    background-position: 1200px 400px;
}
.banner-left{}
.banner-left h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757;
}
.banner-left h1 span{
    color: #fba24f;
}
.banner-left p{
    margin-right: 100px;
}
.banner-left button{
    background-image: linear-gradient( #FBA24F, #fc7f42);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 16px 26px;
}
.banner-right{}
.banner-right img{}



/* ABOUT */
.about{
    background-image: url(../images/shapes/Frame\ 58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 0;
}
.about-left{}
.about-left img{}

.about-right{}
.about-right h1{
    font-weight: 600;
    color: #707070;
}
.about-right p{
    font-size: 18px;
    margin-right: 180px;
    padding: 40px 0;
    line-height: 30px;
}
.about-right button{
    background-image: linear-gradient( #FBA24F, #fc7f42);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 16px 26px;
}



/* RECIPIRS */
.recipies{
    padding: 110px 0;
}

/* .Top Row */
.recipies-top{}
.recipies-top h1{
    color: #707070;
    font-weight: 600;
}
.recipies-top p{
    color: #828282;
    line-height: 30px;
    margin-top: 50px;
}

/* .Single Colmn */
.recipies-bottom{
    padding: 20px 16px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 14px;
    margin-top: 20px;
}
.recipies-bottom img{
}
.recipies-bottom h2{
    font-size: 34px;
    font-weight: 600;
    color: #000;
    padding: 20px 0;
}
.recipies-bottom p{
    font-size: 18px;
}



/* SOCIAL FOLLOW */
.social-follow{
    padding-bottom: 80px;
}
.social-bg{
    box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
    padding: 70px 30px;
}
.social-single h2{
    font-size: 48px;
    color: #18191f;
    font-weight: 700;
}
.social-single p{
    font-weight: 600;
}



/* FOOTER */
footer{
    padding-top: 70px;
    padding-bottom: 30px;
    padding-bottom: 8;
    background-color: #0B0D17;
}

/* Footer Heading */
.footer-heading{}
.footer-heading h1{
    font-size: 30px;
    font-weight: 700;
    color: #fba24f;
}
.footer-heading h1 span{
    color: #575757;
}

/* Footer Menu */
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li{}
.footer-menu ul li a{
    font-size: 16px;
    color: #FFF;
}
.footer-menu ul li a:hover{
    color: #fff;
}

/* Footer Bottom */
.footer-bottom{}
.social-icon{}
.footer-bottom p{
    color: #fff;
    font-size: 15px;
    margin-top: 50px;
}
.footer-bottom ul{}
.footer-bottom ul li{}
.footer-bottom ul li a{
    margin-top: 48px;
    padding: 0 13px;
}
.footer-bottom ul li a img{
    width: 30px;
}

.footer-bottom ul li a i{
    
}